<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <h1>{{.}}</h1>
    <h1>{{.Name}}</h1>
    <h1>{{.Age}}</h1>
    <h1>{{.AgePrint}}</h1>
    <h1>{{.DoubleAgePrint}}</h1>
    <h1>{{.DoubleAgePrint |.TkeAgePrint}}</h1>




 
    

</body>
</html>