<!DOCTYPE html>
<html>
    <head>
        <title>this is templating practice</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
 
    <body>
        <h1>This  is the <span style="color:red">cat</span></h1>
        <p>this is my web sitethis <span style="color: aqua">is my web sitethis is my web sitethis is my web sitethis is my web sitethis is </span>my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web site</p>
        
        {{template "london"}}
        {{template "australia"}}
        {{template "india"}}

      
    
        
    </body>
</html>