{{define "london"}}
        <div class="a1">
            <h1>This is London</h1><br>
            <p>this is my web sitethis <span style="color: aqua">is my web sitethis is my web sitethis is my web sitethis is my web sitethis is </span>my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web sitethis is my web site</p>
        </div>
{{end}}