<!DOCTYPE html>
<html>
<head>
<title>Date time formating</title>
</head>
<body>
    <h1> {{.}}/h1>
    <h1> {{. |dou | pow}}/h1>
    <h1> {{. |dou |pow |rsqrt}}/h1>
    <h1> {{.  |pow |rsqrt}}/h1>
    
    
</body>
</html>