<!DOCTYPE heml>
<html>
    <head>
        <title>Spoken english method</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body id="main">
    {{template "header"}}



    {{template "nav"}}
    {{template "content"}}

   
 
        
    {{template "footer"}}
    </body>
</html>