{{define "nav"}}
       <div id="menu">
            <ul>
                <li>IELTS</li>
                <li>Toffel</li>
                <li>GRE</li>
                <li>GMAT</li>
            </ul>
        </div>

{{end}}