<!DOCTYPE html>
<html>
<head>
<title>Date time formating</title>
</head>
<body>
    <h1> {{.}}</h1>
    <h1>{{index .Name 1}} </h1>
    <h1> {{index .Name 2}}</h1>
    <h1>{{index .Name 4}} </h1>
    <h1>{{.Age }} </h1>
    
    
</body>
</html>