<!DOCTYPE html>
<html>
    <head>
        <title>variable in templates</title>
    </head>
    <body>
    <ul>
      <li> {{.Lager}} </li>
      <li> {{.Ale}} </li>
      <li> {{.Stout}} </li>
      <li> {{.Customers}} </li>
    </ul>
</html>
