	
    {{define "header_wrapper"}}
    <div class="full-wrapper banner ">
		<div class="overlay">
			<div class="wrapper">
				<div class="b-text">
					<h3>This is a main heading </h3>
					<p>Lorem Ipsum is simply dummy text of the printing

					</p>
					<div class="button">
						<a href="#">Learn More</a>
					</div>
					
					

				</div>
			</div>


		</div>



	</div>
    {{end}}