<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
	<title></title>
	<link rel="stylesheet" href="../css/font-awesome.min.css">



	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<!--
	<div class="full-wrapper">
		<div class="wrapper">

		</div>

	</div>
-->
	{{template "header"}}
	<div class="clr"></div>
	{{template "header_wrapper"}}




</body>

</html>
