<!DOCTYPE html>
<html>
    <head>
        <title>variable in templates</title>
    </head>
    <body>
    {{$connotation:=.}}
    <h1>This is my connotation {{$connotation}}</h1>
    <h1>This is another {{$connotation}}</h1>
    </body>
</html>