<!DOCTYPE html>
<html>
    <head>
        <title>composite data types passing and ranging</title>
    </head>
    <body>
        <ul>
        {{range .}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    </body>
</html>