<!DOCTYPE html>
<html>
    <head>
        <title>variable in templates</title>
    </head>
    <body>
    <ul>
    {{$la:=.Lager}}
    {{$ale:=.Ale}}
    {{$stou:=.Stout}}
    {{$custo:=.Customers}}
      <li> {{$la}} </li>
      <li> {{$ale}} </li>
      <li> {{$stou}} </li>
      <li> {{$custo}} </li>
    </ul>
</html>
